@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  background-color: #ffffff;
  color: #213547;

  --color-button-primary: #646cff;
  --color-button-primary-hover: #535bf2;
  --color-text-accent-light: #747bff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);

    --color-button-primary: #f97316;
    --color-button-primary-hover: #c2410c;
    --color-text-accent-light: #fdba74;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
